<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lingoconnect</title>
</head>
<body>
  <h1> Welcome to lingoconnect </h1>
  <a href="https://www.w3schools.com" > GAMES </a>
   <a href="https://www.w3schools.com" > PUZZLES </a>
  <a href="https://www.w3schools.com" >  MY ACCOUNT</a>
  <a href="https://www.w3schools.com" >  SETTINGS</a>
  <a href="https://www.w3schools.com" >  CHALLANGE OF THE DAY</a>
  <a href="https://www.w3schools.com" >  MOST FAILED CHALLANGES </a>
</body>
</html>
