<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <img src="{% static 'logo.png' %}" alt="LingoConnect" width="300" height="200">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

    {% include 'navbar.html' %}

    <h1> Welcome to lingoconnect </h1>

    {% block content %}{% endblock %}

    <footer>
        <p id="footer1">LingoConnect Team</p>
        <p id="footer2">Acıbadem Üniversitesi - İçerenköy, Kayışdağı Cd. No:32, 34752 Ataşehir/İstanbul</p>
    </footer>

</body>
</html>
