<!-- navbar.html -->

<!-- navbar.html -->
<div class="navbar">
    <button class="navbar-btn" onclick="window.location.href='{% url 'home' %}'">Home</button>
    <button class="navbar-btn" onclick="window.location.href='{% url 'quizes' %}'">Quizes</button>
    <button class="navbar-btn" onclick="window.location.href='{% url 'register' %}'">Register</button>
    <button class="navbar-btn" onclick="window.location.href='{% url 'login' %}'">Login</button>
    <button class="navbar-btn" onclick="window.location.href='{% url 'profile' %}'">My Profile</button>
</div>
