{% extends 'home.html' %}

{% load static %}

{% block content %}
    <div class="user-profile">
        <h2>User Profile</h2>
        <p><strong>Username:</strong> {{ user_profile.user.username }}</p>
        <p><strong>Correct Answers:</strong> {{ user_profile.correct_answers }}</p>
        <p><strong>False Answers:</strong> {{ user_profile.false_answers }}</p>

        <h3>Completed Quizzes</h3>
        <ul>
            {% for quiz in completed_quizzes %}
                <li>{{ quiz.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
